@import "./common/variables"
@import "./common/reset"

body
  background-color: var(--gray-1)

input::placeholder
  color: var(--gray-4)  

.swiper-slide-active > div
  background-color: var(--gray-2)